<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<!-- The form should submit to MenuController.create or  MenuController.update, depending on whether we are
creating or editing a menu -->
<div class="container">

    <form method="post" th:action="@{'/menu/{id}' (id=${menu?.id})}">
        <div>
            <label for="restaurantName">Restaurant Name</label>
            <input type="text"
                   id="restaurantName"
                   name="name"
                   th:value="${menu?.restaurantName}"
                   required>
        </div>

        <div>
            <label>Menu Type</label><br/>
            <select id="menuType" name="menuType">
                <!-- For each category you should have one <option> like below  -->
                <!--            <option th:each="cat: ${menuTypes}" th:value="${cat.id}" th:text="${cat.name}"> [cat.name]</option>-->
                <option value="PIZZA"> PIZZA</option>
                <option value="COOKIE">COOKIE</option>
                <option value="COFFEE"> COFFEE</option>
            </select>
        </div>

        <div>
            <label>Menu Items</label><br/>
            <select id="menuItems" name="menuItemIds" multiple="multiple" size="5">
                <!-- For each category you should have one <option> like below  -->
                <option th:each="menuItem: ${menuItems}" th:value="${menuItem.id}" th:text="${menuItem.name}"> [menuItem.name]</option>
            </select>
        </div>

        <button id="submit" type="submit">Submit</button>
        <a id="back" href="/menu" type="button" class="btn btn-primary">Back to menus</a>
    </form>

    <div>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>


</body>
</html>
